* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "微軟正黑體";
}

html,
body {
	height:100%;
}
img {
	max-width: 100%;
	height: auto;
	width: 50px;
	display: block;
	margin: auto;
	cursor: pointer;
}
/* tables */
th,
td {
	font-weight: normal;
	padding: 3px 7px;
	border-top: 1px solid #dee2e6;
	border-color: #e2e2e4;
	height: 30px;
}

table {
	width:100%;
	max-width: 1300px;
	margin: auto;
	border-collapse: collapse;
	border: 1px solid #dee2e6;
}

table th:not(:last-child),
table td:not(:last-child) {
	border-right: 1px solid #e2e2e4;
}

table thead tr {
	background-color: #b0b0b0;
}

table thead th {
	color: #fff;
	background-color:#f03940;
	border-bottom: 2px solid #dee2e6;
	border-width: 0px;
}

table thead th.active {
	background-color:rgba(255,255,255,0.5);
}

table tbody tr:nth-child(odd) {
	background-color: rgba(0,0,0,0.02);
}

table tbody tr:nth-child(even) {
	background-color: #fff;
}

table tbody tr:nth-child(odd) td.active {
	background-color: rgba(0,0,0,0);
}

table tbody tr:nth-child(even) td.active {
	background-color: rgba(0,0,0,0);
}

table tbody tr:hover {
	background-color: rgba(0,0,0,0.075);
}
